@import "variables";

.body {
	display: flex;
	justify-content: flex-start;
	height: 850px;

	&-form {
		height: 750px;
		margin-top: 31px;
		border: 1px solid black;
		margin-left: 100px;
		font-size: 200%;
		width: 620px;

		&-list {
			list-style-type: none;

			&-heading {
				margin-left: 100px;
			}

			&-input {
				width: 220px;
				height: 20px;
			}

			&-checkboxele {
				padding-left: 200px;
			}

			&-cpassele {
				font-size: 76%;
			}

			&-subres {
				width: 100px;
				height: 30px;
				background-color: grey;
			}
		}
	}

	&-dashboard {
		border: 1px solid black;
		height: 750px;
		margin-right: 100px;
		margin-left: 30px;

		&-fixp {
			position: relative;
			text-align: center;
			height: 20px;
		}

		list-style-type: none;
		font-size: 200%;
		width: 620px;
		overflow: scroll;

		&-eles {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 30px;
			width: 400px;
			align-text: center;
		}
	}
}